<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.web.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toRegister</servlet-name>
    <servlet-class>com.web.ToRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toLogin</servlet-name>
    <servlet-class>com.web.ToLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toError</servlet-name>
    <servlet-class>com.web.ToErrorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toNewUser</servlet-name>
    <servlet-class>com.web.ToNewUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>com.web.createNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>toAdmin</display-name>
    <servlet-name>toAdmin</servlet-name>
    <servlet-class>com.web.toAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>toEditor</display-name>
    <servlet-name>toEditor</servlet-name>
    <servlet-class>com.web.toEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>toCreateNews</display-name>
    <servlet-name>toCreateNews</servlet-name>
    <servlet-class>com.web.ToCreateNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toRegister</servlet-name>
    <url-pattern>/toRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toLogin</servlet-name>
    <url-pattern>/toLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toError</servlet-name>
    <url-pattern>/toError</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toNewUser</servlet-name>
    <url-pattern>/toNewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toAdmin</servlet-name>
    <url-pattern>/toAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toEditor</servlet-name>
    <url-pattern>/toEditor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toCreateNews</servlet-name>
    <url-pattern>/toCreateNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyNewsServlet</display-name>
    <servlet-name>MyNewsServlet</servlet-name>
    <servlet-class>com.web.MyNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyNewsServlet</servlet-name>
    <url-pattern>/MyNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNewsServlet</display-name>
    <servlet-name>ShowNewsServlet</servlet-name>
    <servlet-class>com.web.ShowNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewsServlet</servlet-name>
    <url-pattern>/ShowNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToManagerUserServlet</display-name>
    <servlet-name>ToManagerUserServlet</servlet-name>
    <servlet-class>com.web.ToManagerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToManagerUserServlet</servlet-name>
    <url-pattern>/ToManagerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserListServlet</display-name>
    <servlet-name>GetUserListServlet</servlet-name>
    <servlet-class>com.web.GetUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserListServlet</servlet-name>
    <url-pattern>/GetUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserByuserId</display-name>
    <servlet-name>DelUserByuserId</servlet-name>
    <servlet-class>com.web.DelUserByuserId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserByuserId</servlet-name>
    <url-pattern>/DelUserByuserId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ColumnNewsId1</display-name>
    <servlet-name>ColumnNewsId1</servlet-name>
    <servlet-class>com.web.ColumnNewsId1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColumnNewsId1</servlet-name>
    <url-pattern>/ColumnNewsId1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index2.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getInternationalNewsServlet</display-name>
    <servlet-name>getInternationalNewsServlet</servlet-name>
    <servlet-class>com.web.getInternationalNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInternationalNewsServlet</servlet-name>
    <url-pattern>/getInternationalNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDomesticNewsServlet</display-name>
    <servlet-name>getDomesticNewsServlet</servlet-name>
    <servlet-class>com.web.getDomesticNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDomesticNewsServlet</servlet-name>
    <url-pattern>/getDomesticNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getEntertainmentNewsServlet</display-name>
    <servlet-name>getEntertainmentNewsServlet</servlet-name>
    <servlet-class>com.web.getEntertainmentNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEntertainmentNewsServlet</servlet-name>
    <url-pattern>/getEntertainmentNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getSportsNewsServlet</display-name>
    <servlet-name>getSportsNewsServlet</servlet-name>
    <servlet-class>com.web.getSportsNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSportsNewsServlet</servlet-name>
    <url-pattern>/getSportsNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFinanceNewsServlet</display-name>
    <servlet-name>getFinanceNewsServlet</servlet-name>
    <servlet-class>com.web.getFinanceNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFinanceNewsServlet</servlet-name>
    <url-pattern>/getFinanceNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCarNewsServlet</display-name>
    <servlet-name>getCarNewsServlet</servlet-name>
    <servlet-class>com.web.getCarNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCarNewsServlet</servlet-name>
    <url-pattern>/getCarNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getElectronicNewsServlet</display-name>
    <servlet-name>getElectronicNewsServlet</servlet-name>
    <servlet-class>com.web.getElectronicNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getElectronicNewsServlet</servlet-name>
    <url-pattern>/getElectronicNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNewsServlet</display-name>
    <servlet-name>CheckNewsServlet</servlet-name>
    <servlet-class>com.web.CheckNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNewsServlet</servlet-name>
    <url-pattern>/CheckNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserServlet</display-name>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>com.web.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.web.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNewsServlet</display-name>
    <servlet-name>SearchNewsServlet</servlet-name>
    <servlet-class>com.web.SearchNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNewsServlet</servlet-name>
    <url-pattern>/SearchNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorNewsServlet</display-name>
    <servlet-name>EditorNewsServlet</servlet-name>
    <servlet-class>com.web.EditorNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorNewsServlet</servlet-name>
    <url-pattern>/EditorNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyNewsServlet</display-name>
    <servlet-name>ModifyNewsServlet</servlet-name>
    <servlet-class>com.web.ModifyNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyNewsServlet</servlet-name>
    <url-pattern>/ModifyNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelNewsServlet</display-name>
    <servlet-name>DelNewsServlet</servlet-name>
    <servlet-class>com.web.DelNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNewsServlet</servlet-name>
    <url-pattern>/DelNewsServlet</url-pattern>
  </servlet-mapping>
</web-app>